h1.header
    {background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;}

/*img
    {background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/

a.nav-link
    {font-family: 'Montserrat', sans-serif;}

nav.navbar-light .navbar-nav .nav-link
    {color: white}

nav.bg-light
    {background-color: #4a7ab5!important;}