h1.header
    {background-color: gray;}
    
h1
    {font-family: 'Montserrat', sans-serif;
    font-weight: 500;}

h2
    {font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;}

div.row {text-align: center;}

/*img
    {background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/

a.nav-link
    {font-family: 'Montserrat', sans-serif;}

a.pagelinks
    {color: black}

nav.navbar-light .navbar-nav .nav-link
    {color: white}

nav.bg-light
    {background-color: #4a7ab5!important;}

p.aboutme
    {text-align: left;}