div.jumbotron
    {text-align: center;}

div.indian-jumbo
    {background-image: url(Indian\ Header.png);}

h1.header
    {background-color: gray;}
    
h1
    {font-family: 'Montserrat', sans-serif;
    font-weight: 500;}

h2
    {font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;}

h3
    {font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-weight: bold;
    text-align: center;}

div.row {text-align: center;}
div.suggestions {text-align: left;}
div.container-pusheen
    {text-align: center;
    vertical-align: top;}

img.img-pusheen
    {max-width: 100%;
    height: auto;}

/*img
    {background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/

a.nav-link
    {font-family: 'Montserrat', sans-serif;}

a
    {color: black}

nav.navbar-light .navbar-nav .nav-link
    {color: white}

nav.bg-light
    {background-color: #4a7ab5!important;}

p.aboutme
    {text-align: left;}

p.open
    {color: chartreuse;}