h1.header
    {background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;}

img
    {background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

nav.navbar.navbar-expand-lg.navbar-light.bg-light
    {background-color: #4a7ab5!important;}