body
    {margin-bottom: 24px;}

div.jumbotron
    {text-align: center;
    padding: 1rem;
    padding-top: 32px;
    padding-bottom: 32px;}

div.indian-jumbo
    {background-image: url(Indian\ Header.png);}

h1.header
    {background-color: gray;}
    
h1
    {font-family: 'Montserrat', sans-serif;
    font-weight: 500;}

h2
    {font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;}

h3
    {font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-weight: bold;
    text-align: center;}

div.row
    {text-align: center;}
div.col-sm-4
    {padding-bottom: 20px;}
div.col-sm-6
    {padding-bottom: 20px;}
div.col-md-6
    {padding-bottom: 16px;}
div.suggestions {text-align: left;}
div.container-pusheen
    {text-align: center;}

img.img-pusheen
    {max-width: 100%;
    height: auto;
    vertical-align: top;}

/*img
    {background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/

a.nav-link
    {font-family: 'Montserrat', sans-serif;}

a
    {color: black}

nav.navbar-light .navbar-nav .nav-link
    {color: white}

nav.bg-light
    {background-color: #4a7ab5!important;}

p.aboutme
    {text-align: left;}

p.open
    {color: chartreuse;}

div.container .fixed-bottom
    {background-color: #e9ecef;
    min-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;}